[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==4.0.0"
pyyaml = "==6.0.3"
delta-spark = "==4.0.0"
pydantic = "==2.12.3"

[dev-packages]

[requires]
python_version = "3.14"
